{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form action="{{ path('uploadCategories') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div>
             <label class="btn btn-dark">
            <i class="fa fa-image"></i>Importer DATA<input type="file" style="display: none;" name="image">
            </label>
            <button class="btn btn-secondary" type="submit">Upload</button>
            <a href="{{ path('addCategory')}}" class="btn btn-primary addButton">Ajouter</a>

        </div>
</form>
{% for message in app.flashes('categoryAdded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('categoryUpdated') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('categoryDeleted') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('categoryDeleteError') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('categoryDataUploaded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in categories %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path('deleteCategory',{'id':item.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('updateCategory',{'id':item.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
