{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form action="{{ path('uploadSuppliers') }}" method="post" enctype="multipart/form-data" class="header">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div>
            <label class="btn btn-dark">
            <i class="fa fa-image"></i>Importer DATA<input type="file" style="display: none;" name="myfile" id="myfile">
            </label>
            <button class="btn btn-secondary" type="submit">Upload</button>
            <a href="{{ path('addSupplier')}}" class="btn btn-primary addButton">Ajouter</a>
        </div>

</form>
{% for message in app.flashes('supplierAdded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('supplierUpdated') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('supplierDeleted') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('supplierDeleteError') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('supplierDataUploaded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in suppliers %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.adress }}</td>
                <td>
                    <a href="{{ path('deleteSupplier',{'id':item.id}) }}"  class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('updateSupplier',{'id':item.id}) }}"  class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}