<a href="{{ path('addProduct')}}">Ajouter</a>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Catégorie</th>
            <th>Fournisseur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in products %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.supplier }}</td>
                <td>
                    <a href="{{ path('deleteProduct',{'id':item.id}) }}">Delete</a>
                    <a href="{{ path('updateProduct',{'id':item.id}) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
