{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form>
{% for message in app.flashes('orderError') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
</form>
{{ form_start(form) }}

    {{ form_label(form.products, 'Produits') }}
    {{ form_widget(form.products) }}

    <br>
    <div class="container">
        <div class="row">
            <input type="submit" name="" value="Enregistrer" class="btn btn-primary" style="width:48%" >
            <input type="reset" name="" value="Réinitialiser" class="btn btn-danger"  style="width:48%;margin-left:4%">
        </div>
    </div>

{{ form_end(form, {'render_rest': false}) }}


</div>
{% endblock %}