<a href="{{ path('addOrder')}}">Ajouter</a>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Products</th>
            <th>Total price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in orders %}
            {% if item.facture == null %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.date | date("d/m/Y") }}</td>
                    <td>
                    {% for product in item.products %}
                        -
                        {{ product }}
                        {% endfor %}
                    </td>
                    <td> {{ item.totalPrice }} DT </tD>
                    <td>
                        <a href="{{ path('deleteOrder',{'id':item.id}) }}">Delete</a>
                        <a href="{{ path('updateOrder',{'id':item.id}) }}">Update</a>
                        <a href="{{ path('addFacture',{'id':item.id}) }}">Confirm</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
