{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form>
    <a href="{{ path('exportOrders') }}" class="btn btn-success">Exporter DATA</a>
    <a href="{{ path('addOrder')}}" class="btn btn-primary addButton">Ajouter</a>
</form>
{% for message in app.flashes('ExcelFileSaved') %}
   <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('orderAdded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('orderUpdated') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('orderDeleted') %}
   <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Client</th>
            <th>Produits</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if orders == null %}
            <td style="text-align: center;" colspan="5">Aucune donnée à afficher</td>
        {% else %}
            {% for item in orders %}
                {% if item.facture == null %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.date | date("d/m/Y") }}</td>
                        <td>{{ item.client }}</td>
                        <td>
                        {% for product in item.products %}
                            -
                            {{ product }}
                            {% endfor %}
                        </td>
                        <td> {{ item.totalPrice }} DT </tD>
                        <td>
                            <a href="{{ path('deleteOrder',{'id':item.id}) }}"  class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('updateOrder',{'id':item.id}) }}" class="btn btn-warning">Modifier</a>
                            <a href="{{ path('addFacture',{'id':item.id}) }}" class="btn btn-success">Confirmer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}
