{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form>
    <a href="{{ path('exportFactures') }}" class="btn btn-success">Exporter DATA</a>
</form>
{% for message in app.flashes('ExcelFileSaved') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('factureAdded') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('factureDeleted') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Produits</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in factures %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.date | date("d/m/Y") }}</td>
                    <td>
                        {% for product in item.order.products %}
                        -
                        {{ product }}
                        {% endfor %}
                    </td>
                    <td>{{ item.order.totalPrice  }} DT</td>
                    <td>
                        <a href="{{ path('deleteFacture',{'id':item.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}