<table class="table" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Products</th>
            <th>Total price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in factures %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.date | date("d/m/Y") }}</td>
                    <td>
                        {% for product in item.order.products %}
                        -
                        {{ product }}
                        {% endfor %}
                    </td>
                    <td>{{ item.order.totalPrice  }}</td>
                    <td>
                        <a href="{{ path('deleteFacture',{'id':item.id}) }}">Delete</a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
