{% extends 'base.html.twig' %}

{% block body %}
<div class="main-content">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        <div style="display:none">
        {{ form_row(form.agreeTerms) }}
        </div>

         <br>
    <div class="container">
        <div class="row">
            <input type="submit" name="" value="Enregistrer" class="btn btn-primary" style="width:48%" >
            <input type="reset" name="" value="Réinitialiser" class="btn btn-danger"  style="width:48%;margin-left:4%">
        </div>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}


